* {
  font-family: papyrus;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle; }

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:active {
  text-decoration: none; }

button {
  text-decoration: none;
  background-color: none;
  border: none; }

input {
  text-decoration: none;
  background-color: none;
  border: none; }

/* base */
body {
  overflow-y: hidden; }

.bg-light {
  background-color: #66ffb2; }

.navbar {
  height: 15%; }

.navbar-title {
  text-decoration: none;
  color: teal;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  background-color: #21ecaa; }

.navbar-bar {
  height: 50%;
  background-color: #008aff; }

.navbar-nav {
  list-style-type: none;
  display: inline-block;
  height: 80%; }

.nav-item {
  width: 12%;
  height: calc(60%-0.5%);
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0.4%;
  margin-bottom: 0.25%;
  float: left;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  vertical-align: center; }

.nav-item.float-right {
  float: right; }

.nav-item.active {
  background-color: #00f5dc; }

.nav-item:not(.active) {
  background-color: #00e6bd; }

.nav-link {
  display: block;
  color: #0000bf;
  background-color: #41cccc;
  text-decoration: none;
  padding: .5%;
  border-radius: 5px;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  width: 80%;
  height: 60%;
  transition: all .5s ease; }

.nav-link:hover {
  background-color: #31dcbb; }

/* main */
.content {
  display: flex;
  flex-direction: column;
  background-color: #30f6e2; }

.header {
  display: block;
  height: 10%;
  text-align: center;
  box-sizing: border-box; }

/* todo */
.todo-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 30px teal;
  background-color: #084f6e; }

.todo-title {
  text-align: center;
  color: teal;
  display: block;
  height: 10%; }

.todo-add-btn {
  color: teal;
  height: 5%;
  text-align: left; }

.todo {
  margin: 10px;
  padding: 10px;
  height: 10%;
  text-align: left; }

/* add to-do */
