{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
    
    <div class="content">
        <h1 class="header">{% block title %} Data Control {% endblock %}</h1>
        
        <div class="menu">
            <ul class="nav-links">
                <li class="nav-item"> <a class="nav-link" href="/save_database"> Save Current Version  </a> </li>
                <li class="nav-item"> <a class="nav-link" href="/reset_database"> Clear All Data  </a> </li>

                <li class="nav-item"> <a class="nav-link" href="/make_dates_and_times"> Make Dates and Times  </a> </li>
                
                <li class="nav-item nav-item-large"> <a class="nav-link db-version-item">
                    <form class="db-version-form" name="db-version-form" method="POST"> 
                        <input type="hidden" name="form_id" value="db_version"> </input>
                        <button class="db-version-btn" type="submit" for="db-version"> Switch Database Version </button>
                        <select id="db-version-select" name="db-version" class="dropdown" required>
                            <option class="db-option" value="" disabled selected> Select a database version </option>
                            {% for db in db_v %}
                                <option class="db-option" id="db-option-{{db}}" value="{{db}}">
                                    {{db}}
                                </option>
                            {% endfor %}
                        </select>
                    </form>  
                </a> </li>
                
            </ul>
        </div>

        <div class="model-info">
            {% set ns = namespace(model = None) %}
            <div class="model-select">
                <select id="model-select" name="model-select" class="dropdown" onchange="showContent()" required>
                    <option value="" disabled selected> Select a Model to view </option>
                        {% for model in models %}
                            <option class="model-option" id="model-option-{{model[0]}}" value="{{model[0]}}" >
                                {{model[0]}}
                            </option>
                        {% endfor %}
                </select>
            </div>

            <div class="model-display" id="model-content">
                data here
            </div>

        </div>
        
    </div>

{% endblock %}


{% block js_end %} <script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"> </script> {% endblock %}