{% extends 'base.html' %}



{% block content %}
    {% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/todo_main.css')}}" /> {% endblock %}
    <div class="header-title">
        <div class="header-block left-menu">
            <div class="left-menu-title"> Sort By </div>
            <div class="left-menu-options"> Options </div>
        </div>
        <div class="header-block title-container">
            <h1 class="title"> To-Do Manager </h1>
        </div>
        <div class="header-block right-menu">
            <div class="right-menu-title"> Graphs </div>
            <div class="right-menu-options"> Options </div>
        </div>
    </div>

    <div class="add-stuff-con">
    
        <!-- adding new categories -->
        <form class="cat-form" name="new-cat-todo-form" method="post">
            <input type="hidden" name="form_id" value="cat-add"> </input>
            <div class="new-cat-con">
                <!-- category name input -->
                <div class="cat-name-con">
                    <div class="cat-btn-con"><button class="cat-btn" type="submit" for="cat-name-input"> New Category Name </button></div>
                    <input class="name-inp" id="new-cat-input" name="new-cat-input" type="text" 
                    placeholder="Category Name"> </input>
                </div>   
            </div>
        </form>

        <!-- adding new todos -->
        <form class="form-box" name="new-todo-form" method="post">
            <input type="hidden" name="form_id" value="todo-add"> </input>
            <div class="add-container">
                <div class="add-label"> <button class = "form-btn" type="submit" id="new-todo-btn"> <h3> Add New Todo </h3> </button> </div>

                <!-- todo title input -->
                <div class="inp-con title-container-inp">
                    <label class="new-label title-label" for="todo-title-input"> Title </label>
                    <input class="new-inp title-input" id="new-todo-title-input" name="new-todo-title-input" type="text" 
                    placeholder="Todo Title"> </input>
                </div>    

                <!-- todo description input -->
                <div class="inp-con desc-container">
                    <label class="new-label desc-label" for="todo-desc-input"> Description </label>
                    <input class="new-inp desc-input" id="new-todo-desc-input" name="new-todo-desc-input" type="text" 
                    placeholder="Todo Description" value="{{ request.form['desc']}}"> </input>
                </div>   

                <!-- todo due date input -->
                <div class="inp-con due-container">
                    <label class="new-label due-label" for="todo-due-input"> Due Date </label>
                    <input class="new-inp due-input" id="new-todo-due-input" name="new-todo-due-input" type="text" 
                    placeholder="Todo Due Date" value="{{ request.form['due']}}"> </input>
                </div>   

                <!-- todo priority input -->
                <div class="inp-con pri-container">
                    <label class="new-label pri-label" for="todo-pri-input"> Priority </label>
                    <input class="new-inp pri-input" id="new-todo-pri-input" name="new-todo-pri-input" type="integer" 
                    placeholder="Todo Priority" value="{{ request.form['pri']}}"> </input>
                </div>  

                <!-- todo category -->
                <div class="inp-con cat-container">
                    <label class="new-label cat-label" for="todo-cat-input"> Category </label>
                    <select id="new-todo-cat-input" name="new-todo-cat-input" class="dropdown" required>
                        <option value="" disabled selected> Select a category </option>
                        {% for cat in cats %}
                            <option value="{{cat.name}}"> {{ cat.name }} </option>
                        {% endfor %}

                    </select>
                    
                </div>  
            
            </div>
        </form>

        
    
        </div>

    <!-- displaying todos -->
     <div class="todo-display">

        <!-- header titles -->
        <div class="header">

            <div class="todo-box-info header-con done-con">
                <h2> Done? </h2>
            </div>
            <div class="todo-box-info header-con cat-con">
                <h2> Category </h2>
                <div class="header-sort">
                    <div class="header-sort-up"> <a href="{{ url_for('todo_sort', sort_cat='category', order='up') }}"> ▲ </a></div>
                    <div class="header-sort-down">▼</div>
                </div>
            </div>
            <div class="todo-box-info header-con name-con">
                <h2> Name </h2>
                <div class="header-sort">
                    <div class="header-sort-up"> <a href="{{ url_for('todo_sort', sort_cat='name', order='up') }}"> ▲ </a></div>
                    <div class="header-sort-down">▼</div>
                </div>
            </div>
            <div class="todo-box-info header-con desc-con">
                <h2> Description </h2>
            </div>
            <div class="todo-box-info header-con due-con">
                <h3> Due Date</h3>
                <div class="header-sort">
                    <div class="header-sort-up"> <a href="{{ url_for('todo_sort', sort_cat='description', order='up') }}"> ▲ </a></div>
                    <div class="header-sort-down">▼</div>
                </div>
            </div>
            <div class="todo-box-info header-con days-con">
                <h3> Days Left </h3>
                <div class="header-sort">
                    <div class="header-sort-up"> <a href="{{ url_for('todo_sort', sort_cat='days_left', order='up') }}"> ▲ </a></div>
                    <div class="header-sort-down">▼</div>
                </div>
            </div>
            <div class="todo-box-info header-con pri-con">
                <h2> Priority </h2>
                <div class="header-sort">
                    <div class="header-sort-up"> <a href="{{ url_for('todo_sort', sort_cat='priority', order='up') }}"> ▲ </a></div>
                    <div class="header-sort-down">▼</div>
                </div>
            </div>
            <div class="todo-box-info header-con scroll-con">
                <h4> S </h4>
            </div>

        </div>

        <!-- todos info -->
        <div class="todos-con">
            {% for todo in todos %}
                <div class="todo-con">
                    <div class="todo-box-info todo-info-con done-con">
                        <label class="checkbox-con">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="todo-box-info todo-info-con cat-con">
                        <h2> {{ todo.cat_name }} </h2>
                    </div>
                    <div class="todo-box-info todo-info-con name-con">
                        <h2> {{ todo.title }} </h2>
                    </div>
                    <div class="todo-box-info todo-info-con desc-con">
                        <h2> {{ todo.desc }} </h2>
                    </div>
                    <div class="todo-box-info todo-info-con due-con">
                        <h2> {{ todo.date_d }} </h2>
                    </div>
                    <div class="todo-box-info todo-info-con days-con">
                        <h2> {{ todo.days_left }} </h2>
                    </div>
                    <div class="todo-box-info todo-info-con pri-con">
                        <h2> {{ todo.pri }} </h2>
                    </div>
                </div>
            {% endfor %}
        </div>
     </div>

{% endblock %}